<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/bf26f271-1681-449a-898d-655e1c403c00/resourceGroups/Hackathon-Group3/providers/Microsoft.Web/sites/SustainaBite</ResourceId>
    <ResourceGroup>Hackathon-Group3</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://sustainabite.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2e194411-3874-44e5-bf54-6f64118254e7</ProjectGuid>
    <PublishUrl>https://sustainabite.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SustainaBite</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>